@font-face {
  font-family: proximaNova;
  src: url("../fonts/Fontspring-DEMO-proximanova-regular.otf");
}

:root {
  --var-primary-font: "proximaNova";
  --var-body-background-color: #070606;
  --var-primary-font-color: #ffffff;
  --var-secondary-font-color: #a4a4a4;
  --var-menu-active-link-color: #fc9918;
  --var-toggle-background-color: #000000;
  --var-primary-color: #f14a16;
  --var-featured-card-border: #ffffff;
  --var-price-color: #fc9918;
}

html,
body {
  font-family: var(--var-primary-font);
  background-color: var(--var-body-background-color);
  color: var(--var-primary-font-color);
}

header {
  min-height: 100vh;
  max-height: 100%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
  position: relative;
  background-image: url("../images/gradient-effect.svg");
}

.gradient-effect {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.navbar {
  display: flex;
  gap: 3rem;
  align-items: center;
  padding: 1rem 8% 4rem 8%;
}

.navbar__brand {
  flex: 1 0 auto;
}

.navbar__logo {
  min-height: 4rem;
  min-width: 4rem;
  width: 5rem;
  height: 5rem;
}

.navbar__logo > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.navbar__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.header__right {
  display: flex;
  flex: 1;
  gap: 10%;
  align-items: center;
}

.navbar__menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  height: 40px;
}

.navbar__link {
  font-size: 1rem;
  font-weight: 400;
  display: inline-block;
  line-height: 1.2rem;
  color: var(--var-primary-font-color);
  text-transform: capitalize;
  transition: scale 0.3s ease-in;
}

.navbar__link:hover {
  scale: 1.2;
}

.navbar__active {
  border-bottom: 2px solid var(--var-menu-active-link-color);
}

.navbar__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.navbar__theme-toggler {
  display: flex;
  align-items: center;
  border-radius: 16px;
  padding: 0.25rem;
  gap: 0.5rem;
  background-color: var(--var-toggle-background-color);
}

.navbar__icon {
  transition: scale 0.3s ease-in;
  cursor: pointer;
}

.navbar__icon:hover {
  scale: 1.2;
}

.btn {
  border: 1px solid var(--var-primary-color);
  outline: none;
  padding: 0.5rem 1.8rem;
  background: transparent;
  border-radius: 15px;
  color: var(--var-primary-font-color);
  text-transform: capitalize;
  font-weight: 700;
  line-height: 1.2rem;
  font-family: var(--var-primary-font);
  font-size: 1rem;
  color: var(--var-primary-color);
  cursor: pointer;
}
.btn-login:hover {
  box-shadow: 0 0 42px 0 var(--var-primary-color);
  transition-duration: 0.3s;
}

.hero {
  padding: 2rem 8%;
}

.hero__top-container {
  width: 46%;
  margin-bottom: 6rem;
}

.hero__title {
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 1rem;
}

.hero__title > span {
  color: var(--var-primary-color);
}

.hero__description {
  opacity: 0.7;
  font-size: 1.2rem;
  letter-spacing: 1px;
  line-height: 1.6rem;
  margin-bottom: 2rem;
}
.hero__btn-shop {
  background-color: var(--var-primary-color);
  color: var(--var-primary-font-color);
  padding-top: 0.7rem;
  border-radius: 25px;
  padding-bottom: 0.7rem;
  box-shadow: 0px 0px 21px 0px var(--var-primary-color);
  transition: box-shadow 0.2s ease;
}

.hero__btn-shop:hover {
  box-shadow: 0 0 42px 0 var(--var-primary-color);
}
.hero__btn-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 25px;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  box-shadow: 0px 0px 21px 0px var(--var-primary-color);
  transition: box-shadow 0.2s ease;
}

.hero__btn-cart:hover {
  box-shadow: 0 0 42px 0 var(--var-primary-color);
}

.hero__bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.hero__arrow-down-wrapper {
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid var(--var-featured-card-border);
  border-radius: 50%;
  padding: 0.5rem;
}

.featured-card-wrapper {
  display: flex;
  gap: 2rem;
}

.featured-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid var(--var-featured-card-border);
  border-radius: 25px;
  min-width: 14rem;
  height: 7rem;
  padding: 1rem;
  position: relative;
  background-image: linear-gradient(
    116.15deg,
    rgba(192, 192, 192, 0.63) -10.88%,
    rgba(255, 255, 255, 0.49) -10.87%,
    rgba(255, 255, 255, 0.07) 74.79%
  );
}

.product-img {
  width: 6rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product-description {
  margin-top: 3rem;
}

.hero__cart-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.btn-cart {
  display: flex;
}

.hero__buttons {
  display: flex;
  gap: 2.5rem;
}

.product-title {
  text-transform: capitalize;
  font-size: 1.1rem;
}

.product-price {
  display: flex;
  gap: 0.4rem;
}

.discounted-price {
  font-size: 1rem;
  color: var(--var-price-color);
  font-weight: 700;
}

.marked-price {
  text-decoration: line-through;
  font-size: 0.9rem;
  font-size: 700;
}
